{
	"extends": [
		"airbnb",
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:import/typescript",
		"prettier"
	],
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint", "import"],
	"settings": {
		"import/resolver": {
			"node": {
				"extensions": [".js", ".jsx", ".ts", ".tsx", ".d.ts"],
				"moduleDirectory": ["node_modules", "src/"]
			}
		},

		"project": {}
	},
	"env": {
		"browser": true,
		"jest": true
	},
	"rules": {
		"no-tabs": "off",
		"linebreak-style": ["error", "windows"],
		"indent": ["error", "tab"],
		"react/jsx-indent": ["error", "tab"],
		"react/jsx-indent-props": ["error", "tab"],
		"react/jsx-props-no-spreading": "off",
		"react/function-component-definition": "off",
		"comma-dangle": ["error", "never"],
		"import/extensions": ["error", "never"],
		"react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
		"react/require-default-props": "off",
		"import/no-extraneous-dependencies": [
			"error",
			{ "devDependencies": ["**/*.test.tsx", "**/*.spec.tsx", "utilities/*.ts"] }
		]
	}
}
