language: node_js
node_js:
- "lts/*"
branches:
  only:
  - master
  - production
install:
- yarn
script:
- yarn build
- yarn test
after_success:
- bash ./build-docs.sh
env:
  global:
    secure: MxJFZA1Xo1I+UJCAQiFhakHwEtpvV6Bw/sD0wiJSTbrL+0UJ01pxrkyUomZwCPHjDgcXcUmIr4nrM8B4/5IBOF77Cv+x1YPVb3u776bHk7guiFAAbkp/Exy8D7og4wkU+UJboGDh7ZwR9Jk/Wv20/ISMTkB6L13Lq9U+tuX3AELhWcVmr3ds5KHs32wbaJ/sWtsNdUUMY6SuNK9HNG+vFAG2hCwCw2WS5aM2kGnicY0U6DL4Lk5OWWdmdAw2aRHX7cXSghBVbUFicP+QKgEhecZ4T90DdiHFKT6gk+VlDZg5eqlOuaKpLgz+/D01iMLIuEC6n636c3IlRzHFIx5AL0v4dKSm5GzQ2UGPCi8t9hmpFVfbs0C6ID9KpeBZmb3deSKPpe0hLA8IMwo7owYrKkUXdupKeuD0o89T4L40GvxBQBXq98wiLAwvW3FsFS3gtvTe+LTDkReHx1yZ1kg8MyMT1j1mj+qdKFY3lYeoUdvy50g2FwByl0qhrn0PKKWFXGX1Q0dNjC8wfZ+rHzjFDcCqHLltndrojBQA7xXQc2oyXYfErTEmjSYxK99MO8n3/Z0PgfwzACCOZA/8OvHRG3PgyG8rDR2T5rBk98W5SR8RX+I2ADbRetww1YPAGjiF77M47hX4YEWQ4KYVUZMwafC1x4kZuVFU18y0cCs5yA8=
deploy:
  provider: npm
  email: "rosalind@blackjack-software.com"
  api_key:
    secure: qky1IEJqpNkM0u/aZ8ia1Kc9cm4DnPuBr5wLEXnf0aHzwtjLsI9QigxZpyBXYtU5jT/fWTsxseP3t+IrRb6GCXn8qSDaBvFY7xhlfsjza32TbJVj8vkUwtz/zzszgjvHimtEbZsJBEYHPXMPSVXuvKf7+zv3Hz/iEhuBCdqlhEhkqzZPoa4dHWhrMBGDwHE/WM7eO7v1BrPJCBIim52RFhy+yeN7D0R45WNFphiuWWfQNECyXC9b3fcF3dYGSOf7jn+tHzJu+cNHnn5P55f9Mk/S5nJM+S4untXunJyWtxj2x1O3uKwhdhE7KoC9MJifm1seIYFLF6SBGJt6cxSi3ICUlu6hscwdB9CiK68Qu+NkYKYm7koxRzAqSDV9ZypTw/gOJZEs/tyF6R5ZYhlMVaKe7eFSexedlHqyq6LPHL4z89z/fk8kjy1QdJJPgdkTvrNwdE+P0GRCoSsOUEvOHRjFybtUV+txdA0RqhveccZ/fVu0MQk7Qnaq75+x21QABoqdrHR682vcjAg4dORxGOzBWHEAPp38fhn4240OXG93ZmKDDzBGWxjKjlnkhyOzJGU+Fe9aat9sIjz/bSdx5E7GBpB8IadXh9WPTBVngsdMMeXtHoYCH1aFnKJbBtphieZO9PbsimQfcalYMa5s0iQOs1Cuu245rn6v/xfXzbA=
  on:
    branch: production
  skip_cleanup: true