language: node_js
node_js:
- lts/*
branches:
  only:
  - master
  - production
install:
- npm install
script:
- npm run build
- npm run test
after_success:
- git config --global core.autocrlf true
- bash ./build-docs.sh
env:
  global:
    secure: MxJFZA1Xo1I+UJCAQiFhakHwEtpvV6Bw/sD0wiJSTbrL+0UJ01pxrkyUomZwCPHjDgcXcUmIr4nrM8B4/5IBOF77Cv+x1YPVb3u776bHk7guiFAAbkp/Exy8D7og4wkU+UJboGDh7ZwR9Jk/Wv20/ISMTkB6L13Lq9U+tuX3AELhWcVmr3ds5KHs32wbaJ/sWtsNdUUMY6SuNK9HNG+vFAG2hCwCw2WS5aM2kGnicY0U6DL4Lk5OWWdmdAw2aRHX7cXSghBVbUFicP+QKgEhecZ4T90DdiHFKT6gk+VlDZg5eqlOuaKpLgz+/D01iMLIuEC6n636c3IlRzHFIx5AL0v4dKSm5GzQ2UGPCi8t9hmpFVfbs0C6ID9KpeBZmb3deSKPpe0hLA8IMwo7owYrKkUXdupKeuD0o89T4L40GvxBQBXq98wiLAwvW3FsFS3gtvTe+LTDkReHx1yZ1kg8MyMT1j1mj+qdKFY3lYeoUdvy50g2FwByl0qhrn0PKKWFXGX1Q0dNjC8wfZ+rHzjFDcCqHLltndrojBQA7xXQc2oyXYfErTEmjSYxK99MO8n3/Z0PgfwzACCOZA/8OvHRG3PgyG8rDR2T5rBk98W5SR8RX+I2ADbRetww1YPAGjiF77M47hX4YEWQ4KYVUZMwafC1x4kZuVFU18y0cCs5yA8=
deploy:
  provider: npm
  email: rosalind@blackjack-software.com
  api_key:
    secure: GclAEFdusSw5J3xeEiNToiNXWsPAuzhT/yFkivMTw5tNiF88oHroHvTIihmJ5nIbmzp3e4VN1bfK1s5jSh//lswlUr4NohbZO75CICGxjqnvbuWICdEejwG0XbcxziZ9/4rh9NnHqBTKG4YCUI4k4cOPAEbCUfW/oI5AYWjFrRyzUl4HRYLEdDQbOYo4JCrUP41KnIq7eRKJRPLy1TGGMO0P5tVWgfNRBxbghRzbkLbAXFhpsmcBQM4pXC7kIu9KH7o+YdtKKqTBucLY5nDqih8TuQcvMpUq9RGVNoDTw/WNd45ZnQOWJxC8rBqerXNg1fgaaiYF9s0A8Wrummlkhf5O985B6nmW5ALwDJDFTYNXhtb/S4uMWPvPJnhKOvbDy6pfaPXcHRqhEhaVPTvcANmz0IFMTAEfw82frLwAspKz/8p0IRT82oLvxLb+5vtLWYPppzWMU95PlyEUa0tHT/mP2uloVWsaxj7CJOQ/sG6myGh1bwP2Ms5SbHpO2x7Wgr9ewt1/ygXJahec2/jjbTEInQhTZPclE6sQoZN0cRzqAwgWejs02abuuhRsc1andfDcVcAKy1pX4CR77lsXFeHy25Guoc112PWXwRECYfi0/ABKc0mB3gsq9VnsC7qAVsYJHZ5zBBa2DTcedOimj+vTOWMK5gAfszmNKyiCOJw=
  on:
    branch: production
  skip_cleanup: true
